<div class="container">
    <div class="data">
        <div class="input-container-name">
            <i class="fa fa-user icon"></i>
            <input class="inputfielddata" id="inputname" [(ngModel)]="newName" placeholder="IMIĘ"><br />
        </div>

        <div class="input-container-lastname">
            <i class="fa fa-user icon"></i>
            <input class="inputfielddata" id="lastname" [(ngModel)]="newLastname" placeholder="NAZWISKO"><br />
        </div>

        <div class="input-container-age">
            <i class="fa fa-user icon"></i>
            <input class="inputfielddata" id="age" [(ngModel)]="newAge" placeholder="WIEK"><br />
        </div>

        <button class="addbutton" (click)="addClient()">Dodaj klienta!</button>
    </div>
</div>